<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/error_messages', obj: @package %>
      <%= form_with(model: @package, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :tracking_number, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :tracking_number, class: "form-control shadow rounded", placeholder: "Enter a tracking number" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :delivery_status, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.check_box :delivery_status, class: "form-control shadow rounded" %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit('Create package', class: "btn btn-outline-light btn-lg") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
